@charset "UTF-8";

@font-face {
    font-family: corinthians;
    src: url(pacoteprojeto/bignoodletitling/big_noodle_titling.ttf);
}


* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    font-family: corinthians;
    text-align: center;
    padding: 10px;
    height: 15vw;
}

img.logo {
    width: 10vw;
}
div#logo{
    width: 10px;
    height: 10px;
    margin-left: 5vw;
}
header > p {
    font-size: 2vw;
}
h1 {
    font-size: 7vw;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section > p {
    text-align: justify;
    line-height: 2em;
    font-size: 3.5vw;
}
section.img {
    background-color: rgba(0, 0, 0, 0.596);
    background-size: cover;
    padding-top: 10vw;
    padding-bottom: 10vw;
    padding-left: 30px;
    background-position: center;
    background-attachment: fixed;
}
section.img > p {
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    display: inline-block;
    border-radius: 20px;
}
#img01 {
    background-image: url(pacoteprojeto/imagens/elencofumando.jpg);
}
#img02 {
    background-image: url(https://www.estadao.com.br/resizer/v2/TVMKJDI6LVCCVILA6LAQSNWT5A.jpg?quality=80&auth=8487a80195abeaa8564bda71e290c62e18e8b1f1e8f5cb3077357c8a339f3ba5&height=360);
    filter: grayscale(1);
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: rgb(201, 201, 201);
}