@charset "UTF-8";

@font-face {
    font-family: corinthians;
    src: url(pacoteprojeto/bignoodletitling/big_noodle_titling.ttf);
}


* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    font-family: corinthians;
    text-align: center;
    padding: 10px;
    height: 15vw;
}

img.logo {
    width: 10vw;
}
div#logo{
    width: 10px;
    height: 10px;
    margin-left: 5vw;
}

h1 {
    font-size: 7vw;
}

section > p {
    text-align: justify;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}
section.img {
    background-color: rgba(0, 0, 0, 0.596);
}
section.img > p {
    background-color: rgba(0, 0, 0, 0.74);
    display: inline-block;
    padding: 8px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: rgb(201, 201, 201);
}