@charset "utf-8";
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
h1 {
    color: #ff0000;
    padding: 10px;
    margin: 0;
}
h2 {
    color: #004200;
    padding: 10px;
    margin: 0;
}
p {
    color: #00ff00;
    padding: 10px;
    margin: 0;
}