@charset "UTF-8";

body {
    background-image: url(imagens/wallpaper001.jpg);
}

div.square {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
}

#sq1 {
    background-color: rgb(173, 186, 230);
}
#sq2 {
    background-image: linear-gradient(to bottom, yellow, orange, red);
}
#sq3 {
    background-image: url(imagens/pattern001.png);
}
