@charset "UTF-8";

h1 {
    background-color: blanchedalmond;

    height: 80px;
    width: 300px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;

    padding: 10px;
    
    text-align: center;
    margin: auto;
}
div#box1 {
    border-width: 5px;
    border-color: rgb(95, 123, 160);
    border-style: ridge;
    border-radius: 10px;
}
div#box2 {
    display: block;
    border-width: 5px;
    border-color: rgb(160, 95, 95);
    border-style: ridge;
    border-radius: 10px;
}
span{
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
ul {
    list-style- ;
}